<!DOCTYPE html>
<html>
	<head>
		{{{recoil.cdn}}}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
		<script src='http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js'></script>
		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
		{{{recoil.css}}}

		<script>


		</script>


	</head>
	<body>
		{{{recoil.component}}}
	</body>
	{{{recoil.libs}}}
	{{{recoil.js}}}
	{{{recoil.reactRender}}}
</html>